
html, body{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(231, 231, 231);
    font-size: 1rem;
    font-family: 'Helvetica';
}
* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Maven Pro', sans-serif;
}
ul, p {
    margin: 0;
}

p {
    color: rgb(20, 20, 20);
    font-size: 16px;
    line-height: 1.5;
}

img {
    width: 100%
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;

}
.section {
    margin-bottom: 50px;
}
/* Gabe's CSS above */

/* Header */

.heading {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
    background-image: url(./resources/images/purple-flowers.jpeg);
    background-position: center;
    background-size: cover;
    height: 46vh;
}

.heading_text {
    background-color: rgba(0, 0, 0, 0.678);
    color: #ffffff;
}

/*Featured Posts*/
.featured h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*featured gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
   
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    overflow: hidden;
    position: relative;
    background-color: rgb(53, 12, 59);
    transition: background-color .5s;
}

.gallery img {
    width: calc(100% + 60px);
    height: 300px;
    opacity: .7;
    transform: translate3d(0, -20px, 0) scale(1.12);
    transition: all .5s;
    object-fit: cover;
}
.test{
    display: flex;
    align-items: flex-start;
}
    figcaption {
        position: relative;
        padding: 1em 1em;
        color: #ffffff;
        text-align: center;
    }
    figcaption h4 {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        /* display: inline-block; */
        padding: .5em .7em;
    }

    figcaption p {
        margin-top: 10px;
        color: #ffffff;
    }

    .additional a {
        display: flex;
        justify-content: center;
        background: none;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5em;
        font-weight: bold;
        color: white;
        border-radius: 4px;
        border: 1px solid white;
    }

.additional {
    opacity: 0;
    transform: scale(1.3);
    transition: all .5s;
}

/*hover states*/

figure:hover {
    background:black;
}
figure:hover img {
    transform: translate3d(0,0,0) scale(1);
    opacity: .4;
}
figure:hover .additional{
    opacity: 1;
    transform: scale(1);
}



/*Recent posts*/
.recent h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.recent-post {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    overflow: hidden; /*image will now flow out because of this*/
    margin-bottom: 30px;
}
    .recent-post:hover {
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.30);  
    }
    /*images in recent content*/
    .img-wrapper{
        max-width: 100%;
        max-height: 500px;
        
    }
    .img-wrapper img{
        object-fit: cover;
        height: 500px;
    }

/*text and icons inside recent content*/
.content-wrapper{
    max-height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.content-wrapper p{
    min-height: 100px;
}
    .content-wrapper h6 {
        color: rgba(74, 24, 82);
    }
.content-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
    .content-details img{
        margin-right: 5px;
        max-width: 25px;
        height: 25px;
    }
        .content-details span{
            margin-right: 8px;
        }
        .readmore {
            color: rgba(0, 0, 0, 0.719);
            display: flex;
            flex: 1;
        }
        .readmore:hover{
            text-decoration: underline;
        }

button {
    color: #ffffff;
    background-color: rgba(74, 24, 82, 0.685);
    margin-bottom: 8px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
}
button:hover {
    background-color: rgba(74, 24, 82);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color: rgba(74, 24, 82);
    color: #ffffff;
}
footer h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
footer ul {
    margin-top: 20px;
    margin-right: 70px;
}
footer a {
    margin-right: 10px;
}
footer p {
    margin-bottom: 20px;
}
a:hover {
    text-decoration: underline;
}

/*Media query */   
@media (min-width: 650px){
   body {
       font-size: 1.125rem;
   }
   .container {
       padding: 0 60px;
   }
   .section {
       margin-bottom: 100px;
   }
   .gallery {
    display: grid;
    grid-template-columns: repeat(4, auto);
    }

    .recent-post {
        display: flex;
        flex-direction: row;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30);
        border-radius: 4px;
        overflow: hidden; 
        margin-bottom: 30px;
    }
    .img-wrapper{
        max-width: 385px;
        max-height: 194px;
        object-fit: contain;
    }
    .img-wrapper img{
        height: 100%;
    }
    .content-wrapper{
        max-height: 221.8px;
        padding-top: 8px;
        padding-left: 18px;
        padding-right: 8px;
    }
}
